<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>RY</title>
    </head>
    <body>
        <%= msg %>
        <div></div>
        <script src="<%= cdnUrl %>/js/ruoyu/dom.min.js"></script>
        <script src="<%= cdnUrl %>/js/ruoyu/tools.min.js"></script>
        <script>
            const auto = (s = 3) => {
                $ry("div").html(`${s}秒后跳转`);
                if (s > 0) {
                    setTimeout(() => {
                        auto(--s);
                    }, 1000);
                } else {
                    window.location.replace($ryTools.getUrlValue("path") || "/");
                }
            };
            auto();
        </script>
    </body>
</html>
